* {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #666;
  overflow-x: hidden;
}

.colors {
  color: pink;
  color: #ff007f;
  color: #cc0066;
  color: #319055;
  color: #003366;
  color: #36454f;
  color: #007f86;
}

/* General Navbar Styling */

.hotelName {
  color: #007f86;
  font-weight: bold;
  -webkit-text-stroke: 1px #000000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px 25px 75px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: white !important;
  /* background-color: #333333;  */
}

.navbar-nav .nav-link.active {
  font-weight: bold; /* Optional bold style for active link */
}

#logout {
  color: #666;
  cursor: pointer;
}

#logout :hover {
  color: white;
  cursor: pointer;
}

.auth-container {
  max-width: 400px;
  padding: 20px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px auto 50px auto;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007f86;
}

.register-link {
  margin-top: 20px;
  font-size: 13px;
}

.register-link a {
  color: #007f86;
  text-decoration: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

/**LOGIN CSS END HERE*/

/**REGISTRATION PAGE START HERE STYLING*/

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 95%;
  padding: 12px;
  background-color: #007f86;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 800;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-color: rgb(34, 80, 128);
}

/**REGISTRATION PAGE END HERE*/

/**NAV BAR STYLING START HERE*/
/* NAVBAR STYLING */

.link-button {
  background-color: #007f86;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

/**NAV BAR STYLING END HERE*/

/* FOOTER STYLING */

footer {
  overflow: hidden;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
}

.my-footer {
  color: #f0e8e8;
  padding: 20px;
  overflow: hidden;
  margin-top: 2em;
}

/*HOME PAGE STYLING STARTS HERE*/

.home {
  position: relative;
  overflow: hidden;
}
.home-image {
  width: 100%;
  height: 100vh; /* Ensure the image covers the entire viewport height */
  object-fit: cover;
  filter: brightness(50%);
  position: fixed; /* Fix the image position */
  top: 0;
  left: 0;
  z-index: -1;
}

/* HEADER */
/* Header overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  justify-content: flex-start;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1em;
}

/* The header banner */
.header-banner {
  /* background-image: url("../public/assets/images/hotel.webp"); */
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

.header-banner {
  position: relative;
  height: 400px;
}

.header-banner h1 {
  font-size: 50px;
  color: #f8f3f3;
}

.header-banner h3 {
  color: #ff7f50;
  font-size: 30px;
  font-weight: 900;
  /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
  overflow: hidden;
}

/*ROOM SEARCH STARTS HERE*/
/*FIND BOOKING PAGE */
.find-booking-page {
  max-width: 50%;
  margin: 10px auto 60px auto;
  padding: 20px;
}

.search-container input[type="text"] {
}

.booking-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

p {
  margin: 5px 0;
}

.search-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 20px;
}

.search-field {
  flex-basis: calc(25% - 10px);
  margin: 10px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.541);
}

.search-field label {
  display: block;
  color: #f8f9fa;
}

.search-field input,
.search-field select {
  /* The place holder of the Check in/out Date / Select Room Type*/
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff00;
  cursor: pointer;
  color: white;
}

.search-field input::placeholder,
.search-field select::placeholder {
  color: white;
}

.home-search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bffbf;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff00;
  align-self: center;
  height: fit-content;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
}

.home-search-button:hover {
  /* The Search Rooms button */
  background-color: #007bff00;
  border: solid 1px white;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* ROOM SEARCH Component RESULT HOME PAGE STYLING */
.room-results {
  display: block;
  flex-wrap: wrap;
  margin: 10px 30px;
}

.room-list-item {
  width: calc(95% - 20px);
  height: 20vh;
  margin: 5px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
}

.room-list-item-image {
  width: 20%;
  height: 20vh;
}

.room-details {
  flex: 1;
  padding: 15px;
  margin-left: 10px;
  overflow-y: hidden;
}

.room-details h3 {
  color: #007f86;
}

.room-detail-loading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: #666;
}

.book-now-div {
  align-self: center;
}

/*View all rooms home section*/
.view-rooms-home {
  margin: 15px 0px 0px 4.6rem;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  color: #ff7f50;
}

/*Home services section*/
.home-services {
  overflow-y: hidden;
  padding: 20px;
  margin-bottom: auto;
  /* backdrop-filter: blur(15px); */
}

.paradisian-color {
  color: #ff7f5000;
  font-size: 30px;
  font-weight: 900;
  -webkit-text-stroke: 1px #007f86;
  text-align: center;
  overflow: hidden;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.541);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  /* padding: 50px; */
  padding-left: 1em;
  padding-right: 1em;
}

.service-section {
  margin: 0px 60px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
}

.service-card {
  flex: 1 1 45%;
  /* Two cards on one row, adjust width as needed */
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
}

.service-card img {
  width: 100px;
  /* Adjust size of icon */
  margin-right: 10px;
}

.service-details {
  flex: 1;
}

.service-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 900;
  color: #007f86;
  overflow: hidden;
}

.service-description {
  color: #444;
}

/*HOME PAGE STYLING ENDS HERE*/

/*ALL ROOMS PAGE STYLING START*/

.all-rooms {
  margin: 50px 0px 90px 0px;
}

.all-rooms h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007f86;
}

.all-room-filter-div {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
}

.all-room-filter-div label {
  color: #007f86;
}

.filter-select-div {
  width: 100%;
  margin: 0px 0px 0px 4rem;
}

.add-room-button {
  float: right;
  margin-right: 70px;
  font-weight: 600;
}

.all-room-filter-div label {
  font-weight: 800;
  font-size: 20px;
}

.all-room-filter-div select {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/*ALL ROOMS PAGE STYLING ENDS*/

/*PAGINATION COMPONENT STYLIMNG STARTS HERE*/

.pagination-nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination-ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.pagination-li {
  margin: 0 5px;
}

.pagination-button {
  background-color: #fff;
  color: #007f86;
  border: 1px solid #007f86;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
  background-color: rgb(34, 80, 128);
  color: #fff;
}

/* Style for the current page button */
.current-page {
  background-color: #007f86;
  color: #fff;
}

/*PAGINATION STYLING ENDS HERE*/

/*ROOM DETAILS PAGE*/
.room-details-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 90px 10px;
  padding: 20px;
}

.room-details-image {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.room-details-info {
  text-align: center;
  margin-bottom: 20px;
}

.room-details-image {
  width: 400px;
  height: auto;
}

.room-details-info {
  margin-top: 20px;
}

.booking-info {
  margin-top: 20px;
}

.booking-list {
  list-style-type: none;
  padding: 0;
}

.booking-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.booking-number {
  font-weight: bold;
  color: #333;
}

.booking-text {
  font-style: italic;
  color: #666;
}

.detail-search-field {
  /* flex: 0 0 calc(20.33% - 20px); */
  margin: 5px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.guest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.guest-div {
  margin-bottom: 10px;
}

.guest-div label {
  margin-right: 10px;
}

.guest-div input[type="number"],
.guest-div input[type="tel"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.confirm-booking {
  background-color: #fff;
  color: #666;
  padding: 10px 20px;
  border: solid 1px #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: border 0.3s ease;
}

.confirm-booking:hover {
  color: #666;
  border: solid 1px #666;
}

.booking-success-message {
  text-align: center;
  color: #45a049;
  font-weight: 800;
  font-size: 16px;
}

.error-message {
  text-align: center;
  color: #b10505;
  font-weight: 800;
  font-size: 20px;
}

.success-message {
  text-align: center;
  color: #051fb1;
  font-weight: 800;
  font-size: 20px;
}

.booking-info .button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.booking-info .guest-div.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.booking-info .confirm-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*ROOM DETAILS PAGE END HERE*/

/* ADMIN HOME STYLE */
.admin-page {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.welcome-message {
  font-size: 2em;
  color: #007f86;
  margin-bottom: 20px;
  font-weight: bold;
}

.admin-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.admin-button {
  padding: 15px 30px;
  font-size: 1em;
  color: white;
  background-color: #007f86;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-button:hover {
  background-color: rgb(34, 80, 128);
}

/* ROOM SEARCH RESULT */
.book-now-button {
  background-color: #007f8600;
  color: #666;
  padding: 10px 20px;
  border: 1px solid #007f86;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}
.book-now-button:hover {
  color: #ffff;
  background-color: #666;
}

.edit-room-button {
  /* background-color: #007f86; */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.book-now-button:hover,
.edit-room-button:hover {
  opacity: 0.8;
}

/*EDIT ROOMPAGE STYLING*/

.edit-room-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-room-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007f86;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 10px;
}

.edit-room-form .form-group {
  margin-bottom: 15px;
}

.edit-room-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-room-form .form-group input,
.edit-room-form .form-group textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
}

.edit-room-form .form-group textarea {
  height: 100px;
}

.edit-room-form .form-group .room-photo,
.edit-room-form .form-group .room-photo-preview {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.update-button,
.delete-button {
  display: inline-block;
  width: calc(50% - 10px);
  padding: 10px 20px;
  margin: 10px 5px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.update-button {
  background-color: #28a745;
  color: white;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.update-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

/*B0oking & manage booking styling*/

/* General Styling */
.bookings-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #007f86;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 20px auto;
}

.search-div label {
  margin-right: 10px;
  font-weight: bold;
  color: #555;
}

.search-div input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 250px;
}

/* Booking Results */
.booking-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.booking-result-item {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.booking-result-item:hover {
  transform: translateY(-5px);
}

.large-spinner {
  width: 10rem;
  height: 10rem;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #666;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  height: "100vh";
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.small-spinner {
  width: 1rem;
  height: 1rem;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #666;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.total-price {
  overflow: hidden;
}

.go-back-button {
  background-color: #666;
  color: white;
  padding: 10px 20px;
  border: 1px solid #666;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-back-button:hover {
  background-color: #66666683;
  color: #666;
  border: 1px solid #666;
}

.accept-booking {
  background-color: #fff;
  color: #666;
  padding: 10px 20px;
  border: solid 1px #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: border 0.3s ease;
}

.accept-booking:hover {
  color: #666;
  border: solid 1px #666;
}

/* Custom styling for Toastr toast notifications message */
#toast-container .toast.toast-error {
  background-color: #000000; /* Red background for error messages */
  color: #ffffff !important; /* White text color */
}

.edit-profile-button {
  margin: 2em;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: border0.3s, box-shadow 0.3s;
}

.edit-profile-button:hover {
  border: 1px solid #007f86;
  color: #007f86;
  box-shadow: 0 0 10px #007f86;
}

.logout-button {
  margin: 2em;
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: border 0.3s, box-shadow 0.3s;
}

.logout-button:hover {
  border: 1px solid #666;
  color: #666;
  box-shadow: 0 0 10px #666;
}
